.App {
  text-align: center;
  font-family: "Century Gothic", CenturyGothic;
  background-color: #0D0C12;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding-bottom: 100px;
  color: white;
  margin-top: -30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  float: left
}

.App-header {
  background-color: #0D0C12;
  margin-top: 80px;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  border: 2px solid white;
  border-radius: 0px;
  margin-top: 10px;
  margin-bottom: 35px;
}

.mainbtn {
  border: 2px solid white;
  borderRadius: 0px;
  margin: 20px;
  display: inline-block;
  font-size: 14px;
}

.textfield {
  width: 20vw;
  font-size: 14px;
}

h1 {
  color: #8a83c6;
  font-size: calc(10px + 6vmin);
}

h2 {
  color: white;
  font-size: calc(10px + 2vmin);
}

h3 {
  color: white;
  font-size: calc(6px + 2vmin);
}

p {
  font-size: calc(4px + 2vmin); 
}

ul {
  list-style-type: none;
  padding-left: 0;
}

input {
  width: 100px;
  webkit-padding-start: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
